// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: rgb(78, 68, 62);
  font-family: "Chivo", sans-serif;
  text-overflow: ellipsis;
  // font-family: "Lato", sans-serif;
}

.orange {
  color: rgb(239, 97, 54);
  * {
    color: rgb(239, 97, 54);
  }
}

.dot {
  font-size: small;
}

#footer {
  background-color: rgb(78, 68, 62);
}

.navbar {
  background-color: white;
  font-family: "Chivo", sans-serif;
}

.social {
  font-size: large;
}

.updatebtn {
  * {
    color: white;
  }
}

.artcont {
  max-width: 50%;
  * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.cont {
  max-width: 60%;
}

.homecont {
  max-height: 490px;
}

.imgmain {
  opacity: 0.6;
}
