<nav class="navbar navbar-expand navbar-dark fixed-bottom border-top border-dark border-1" id="footer" >
  <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
      <h4>Consoles <i class="fas fa-circle dot orange"></i></h4>
      <% end %>
      <div class="d-none d-lg-block">
        <ul class="navbar-nav">
          <li class="nav-item orange">
            <a class="nav-link" href="#"><i class="orange">Privacy Policy  Terms & Conditions</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Copyright 2021. All rights reserved.</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Connect with us:', articles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link fs-6" do %>
          <i class="fab fa-instagram-square orange"></i>
          <i class="fab fa-facebook orange"></i>
          <i class="fab fa-twitter-square orange"></i>
          <% end %>
        </li>
      </ul>
  </div>
</nav>